<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.phonegap.ccatviewer" version="1.0.0">
  <name>CCATT Viewer</name>
  <description>CCAT Viewer App</description>
  <author href="http://hfrp.umm.edu" email="ihaohu@gmail.com">HFRP</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="landscape"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="true"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="7"/>
  <preference name="android-installLocation" value="auto"/>
  <gap:plugin name="org.apache.cordova.device"/>
  <gap:plugin name="org.apache.cordova.dialogs"/>
  <gap:plugin name="org.apache.cordova.file"/>
  <gap:plugin name="org.apache.cordova.network-information"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
  <icon src="icon.png"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <access origin="*" />
  <allow-navigation href="*" />
  <allow-intent href="*" />
</widget>
